<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.livestrong.myplatelite"
    android:versionCode="5"
    android:versionName="1.4">

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <permission 
        android:protectionLevel="signature" 
        android:name="com.livestrong.myplatelite.provider.permission.READ_DATA_PROVIDER" 
        android:label="Livestrong MyPlateLite Data Access"/>

    <!-- Permissions required for Ad Marvel & SessionM -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_ORIENTATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_short" android:name=".MyPlateApplicationLite" android:theme="@android:style/Theme.NoTitleBar">
        
        <activity android:name="com.livestrong.myplate.activity.WelcomeActivity" android:screenOrientation="portrait" android:noHistory="true">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>    
        </activity>
        <activity android:name="com.livestrong.myplate.activity.LoginActivity" android:screenOrientation="portrait"/>        
        <activity android:name="com.livestrong.myplate.activity.AddExerciseActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.AddFoodActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.AddWaterActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.AddWeightActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.AddMealActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.ExerciseSelectorActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.FoodSelectorActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.NutritionFactsActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.ProgressFragment" />
        <activity android:name="com.livestrong.myplate.activity.SearchActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.TabBarActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.livestrong.myplate.activity.CommunityCommentsActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.ComposeMessageActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.CreateFoodActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.CreateExerciseActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.TrackActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.MainActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.ProfileActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.WebViewActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.DisplayNotificationActivity" android:screenOrientation="portrait" />
        <activity android:name="com.livestrong.myplate.activity.TipsActivity" android:screenOrientation="portrait" />
        
        <provider 
            android:label="Livestrong MyPlate Lite Provider" 
            android:name="com.livestrong.myplate.providers.MyPlateDataProvider"
            android:authorities="com.livestrong.myplate.myplatedataprovider"
            android:exported="true"
            android:enabled="true"
            android:readPermission="com.livestrong.myplatelite.provider.permission.READ_DATA_PROVIDER"/>
        
        <!-- Activities & Provider required for AdMarvel, AdMob, Millenial, and Rhythm -->
        <activity android:name="com.admarvel.android.ads.AdMarvelActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name="com.admarvel.android.ads.AdMarvelVideoActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <activity android:name="com.millennialmedia.android.MMAdViewOverlayActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.millennialmedia.android.VideoPlayer" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:configChanges="keyboardHidden|orientation|keyboard" />
        <activity android:label="Rhythm Activity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboard|keyboardHidden|orientation" android:name="com.rhythmnewmedia.sdk.RhythmActivity" />
        <activity android:label="Rhythm Video Activity" android:theme="@android:style/Theme.Black.NoTitleBar" android:configChanges="keyboard|keyboardHidden|orientation" android:name="com.rhythmnewmedia.sdk.video.RhythmVideoActivity" />
        <provider android:name="com.admarvel.android.ads.AdMarvelLocalFileContentProvider" android:authorities="com.livestrong.myplatelite.AdMarvelLocalFileContentProvider" />
        
        <!--  This is for SessionM -->
        <activity android:name="com.sessionm.ui.SessionMActivity" android:configChanges="keyboard|orientation" android:excludeFromRecents="true" android:launchMode="standard" />
        <receiver android:name="com.sessionm.cpi.PackageReceiver" android:exported="true">
            <intent-filter><action android:name="com.android.vending.INSTALL_REFERRER" /></intent-filter>
        </receiver>
        
        <receiver android:name="com.livestrong.myplate.utilities.NotificationReceiver"></receiver>
        
    </application>

</manifest>
