<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demandmedia.livestrong.android"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-permission android:name="com.livestrong.myplatelite.provider.permission.READ_DATA_PROVIDER"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_short" android:name="com.demandmedia.livestrong.android.MyPlateApplication" android:theme="@android:style/Theme.NoTitleBar">
        
         <activity android:name="com.demandmedia.livestrong.android.activity.EntryPageActivity" android:screenOrientation="portrait" android:noHistory="true">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.demandmedia.livestrong.android.activity.LiteMigrationActivity" android:screenOrientation="portrait" android:noHistory="true"/>
        <activity android:name="com.demandmedia.livestrong.android.activity.WelcomeActivity" android:screenOrientation="portrait" android:noHistory="true"/>
        <activity android:name="com.demandmedia.livestrong.android.activity.LoginActivity" android:screenOrientation="portrait"/>        
        <activity android:name="com.demandmedia.livestrong.android.activity.AddExerciseActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.AddFoodActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.AddWaterActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.AddWeightActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.AddMealActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.ExerciseSelectorActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.FoodSelectorActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.NutritionFactsActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.ProgressFragment" />
        <activity android:name="com.demandmedia.livestrong.android.activity.SearchActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.TabBarActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.demandmedia.livestrong.android.activity.CommunityCommentsActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.ComposeMessageActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.CreateFoodActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.CreateExerciseActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.TrackActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.MainActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.ProfileActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.WebViewActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.DisplayNotificationActivity" android:screenOrientation="portrait" />
        <activity android:name="com.demandmedia.livestrong.android.activity.TipsActivity" android:screenOrientation="portrait" />
        <receiver android:name="com.demandmedia.livestrong.android.utilities.NotificationReceiver"></receiver>
    </application>

</manifest>
